<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cận vệ Đá</title>
</head>

<body>
    <h1>Kính chào quý ông Tori</h1>
    <img style="width: 50%; height:50%; display: block; margin: auto;" src="images/thachPheDa.jpg">
</body>

</html>